

.hackathon-stats-container {
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  color: #121A6A;
  font-family: 'Chakra Petch', sans-serif;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 550px;
  max-width: 1000px;
  margin: auto;
}

.hackathon-stats-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

.hackathon-stats-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.hackathon-stats-label {
  font-weight: 600;
}

.hackathon-stats-value {
  font-weight: 500;
}
